html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', 'icones', sans-serif;
}

#header-main {
  background-image: linear-gradient(to right, #070707, #323232e3);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 35px;
  color: #0089d1;
  text-transform: uppercase;
}

.main-title {
  display: none;
}


.logo-main {
  width: 110px;
  height: 120px;

}

#menu {
  width: auto;
  display: flex;


}

#menu a {

  font-size: 20px;
  margin-right: 20px;
  margin-right: 20px;
  text-decoration: none;
}

#menu a:hover {
  color: #bcbdbf;
  text-decoration: underline;
}

#btn-mobile {
  display: none;
}

/* slides dos cards da página inicial */

/* Slideshow container */
#slideshow-container {
  width: 100%;
  height: 600px;
  margin: auto;
  position: relative;

}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

.cards {
  width: 100%;
  height: 100%;

}

.slide-text {
  position: absolute;
  top: 40%;
  left: 10%;
}

.subtitle-slide {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: rgb(2, 30, 156);
  margin-bottom: 10px;
}

.slide-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: black;
  background-color: #75c6f196;
  padding: 10px;
  border-radius: 10px;
}

.numbertext {
  color: #181be4;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.marked-point {
  text-align: center;

}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0698db;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #181be4;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

#sobre {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  padding-top: 110px;
}

#sobre h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  margin: 10px;
  padding: 10px;
}

#sobre h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
  color: #0089d1;

}

#sobre p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100px;
  margin: 10px;
  padding: 10px;
  text-indent: 20px;
  text-align: justify;
  line-height: 1.5;
}

#container-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 110px;
  min-height: 100vh;
  margin-bottom: 50px;

}

.service-cards {
  width: 500px;
  height: 750px;

}

.service-cards img {
  width: 100%;
  height: 100%;
}


#footer {
  margin-top: 100px;
  display: flex;
  background-image: linear-gradient(to right, #070707, #323232e3);
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
}

#social-media {
  display: flex;
  gap: 20px;
}

#contact-instagram:hover {
  background-color: rgba(192, 5, 83, 0.781);
  border-radius: 10px;
}

#contact-facebook:hover {
  background-color: rgba(17, 5, 192, 0.781);
  border-radius: 10px;
  cursor: pointer;
}

#contact-whatsapp:hover {
  background-color: rgba(42, 192, 5, 0.74);
  border-radius: 40px;
}

#contact {
  display: none;
}

#telephone {
  display: flex;
  align-items: center;
  gap: 20px;

}

#telephone-call:hover {
  background-color: rgba(4, 80, 26, 0.781);
  border-radius: 10px;
  cursor: pointer;
}

#telephone p {
  font-size: 25px;
  color: white;
}

#copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-image: linear-gradient(to right, #070707, #323232e3);
  color: white;

}

#menu-footer a {

  font-size: 20px;
  margin-right: 20px;
  margin-right: 20px;
  text-decoration: none;


}

#menu-footer a:hover {
  color: #0698db;
  text-decoration: underline;
}


#menu-footer li {
  color: white;
  padding: 5px;
}

#menu-footer h3 {
  color: white;
  font-size: 25px;
  margin-right: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: underline;

}

#menu-footer h3:hover {
  color: #0089d1;
}




@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* Efeito para o texto .whatsapp-contato ficar piscando */

.whatsapp-contact {
  width: auto;
  display: flex;
  align-items: center;
  color: #106605;
  font-size: 20px;
  position: fixed;
  bottom: 50%;
  right: 0px;
  animation: animate 1.5s linear infinite;

}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

.whatsapp-contact:hover {

  color: #4ed325;
  text-transform: uppercase;
}

.whatsapp-contact p {
  margin-right: 10px;

}

.whatsapp-link {
  width: auto;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #088536;
  text-align: center;
  font-size: 30px;
  z-index: 1000;

}

.fa-whatsapp {
  margin-top: 16px;
}


@media(max-width: 1090px) {
  .logo-main {
    display: none;
  }

  .main-title {
    display: flex;
    margin-left: 10px;
  }

  .whatsapp-contact {
    display: none;
    width: auto;
    display: flex;
    align-items: center;
    color: #088536;
    font-size: 20px;
    position: fixed;
    bottom: 50%;
    right: 0px;

  }

  #menu li {
    margin-right: 5px;
  }

}

/* Dispositivos mobile */

@media(max-width: 667px) {
  #btn-mobile {
    display: block;
    position: absolute;
    right: 0px;
    margin-right: 1rem;
    cursor: pointer;
    margin-right: 15px;
  }

  #header-main {
    background-image: linear-gradient(to right, #070707, #47454510);
  }


  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 110px;
    right: 0px;
    background-image: linear-gradient(to right, #070707, #47454510);
    transition: .6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;

  }

  #nav.active #menu {
    height: calc(100vh - 110px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu li {
    border-bottom: #0089d1 solid;
    border-bottom-width: 1px;
  }

  #menu a:hover {
    text-decoration: none;

  }

  #text-whatsapp {
    display: none;
  }

  .slideshow-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }


  .subtitle-slide {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .slide-paragraph {
    font-size: 15px;
    border-radius: 10px;
    background-color: #75c6f196;
  }

  #sobre {
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
  }

  #container-cards {
    display: flex;
    flex-direction: column;
  }

  .service-cards {
    width: 70%;
    margin: auto;
    height: 70vp;
    box-shadow: inset 0 0 1em gold, 0 0 1em #0089d1;


  }

  .service-cards img {
    width: 100%;
    height: 100%;
  }


  #footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #menu-footer {
    display: none;
  }

  #telephone {
    display: none;
  }

  #copyright {
    font-size: 10px;

  }

  #contact {
    font-size: 15px;
    color: white;
  }


}